/**
 * Custom theme created at the starlight website:
 * https://starlight.astro.build/guides/css-and-tailwind/#theming
 */

/* Dark mode colors. */
:root {
  --sl-color-accent-low: #00273d;
  --sl-color-accent: #0071a7;
  --sl-color-accent-high: #92d1fe;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #f1ede5;
  --sl-color-gray-2: #c6c2b8;
  --sl-color-gray-3: #938b78;
  --sl-color-gray-4: #5f5746;
  --sl-color-gray-5: #3f3727;
  --sl-color-gray-6: #2d2616;
  --sl-color-black: #1b1811;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #b0deff;
  --sl-color-accent: #0073aa;
  --sl-color-accent-high: #003653;
  --sl-color-white: #1b1811;
  --sl-color-gray-1: #2d2616;
  --sl-color-gray-2: #3f3727;
  --sl-color-gray-3: #5f5746;
  --sl-color-gray-4: #938b78;
  --sl-color-gray-5: #c6c2b8;
  --sl-color-gray-6: #f1ede5;
  --sl-color-gray-7: #f8f6f2;
  --sl-color-black: #ffffff;
}
